h1 {
    font-family:'Pacifico', cursive;
    color: white;
    font-size: 40px;
}
 
h3 {
    font-weight: bold;
}

body {
    margin:0;
    display:grid;
    grid-template-areas: 'header header header'
                         'itens itens itens'
                         'notificacoes notificacoes notificacoes'
                         'contato contato contato'
                         'footer footer footer';
    grid-template-rows: 350px 400px 400px 400px 100px;
    font-family: 'Hind', sans-serif;
    color: grey;         
    font-size:12px;      
}

header {
    grid-area: header;
    border-top: 6px solid #31D868;
    background-image: url(imagens/banner.png);
    background-size: cover;
    background-size: 100%;
    display: flex;
    justify-content: center;
}


header div img {
    width: 220px;
   }
   

aside{
    grid-area: itens;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside p{
    width:80%;
}

section{
    background-color: gainsboro;
    grid-area: notificacoes;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

article{
    background-color: white;
    grid-area: contato;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: gainsboro;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}

footer a {
    text-decoration: none;
    color: gray;
}

.celular {
    width: 180px;
    display: flex;
    align-items: flex-end;
}


.blocao{
    background-color: white;
    display:flex;
    justify-content: space-evenly;
}

.blocao p{
    margin-top:-15px;
 }

.itens{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px
}


.descricao{
    width:400px;
    height: 210px;
    margin-top:60px;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: left;
}

.descricao p{
   margin-top:-15px;
}

.imgrede{
    background-color:#31D868;
    border:10px solid #31D868;
    border-radius: 100%;
    width:50px;
    height:50px;
}

.notificacoes{
    display:flex;
    justify-content: space-between;
}

.notificacoes p{
    max-width:500px;
}

.notific{
    padding: 40px;
}

.imgnotific{
    height:180px;
    display:flex;
    justify-content: right;
    padding:40px;
}

.videobanner{
    width:300px;
}

.links{
    width:600px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: gray;
}

.descricaocontato{
    width:55%;
    display:flex;
    justify-content:space-around;
    text-align:center;
    flex-direction: column;
}

.func{
    width:50%;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.rede{
    width:20%;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.disp{
    width:20px;
    height: 20px;
    border: 10px solid black;
    background-color:black;
    border-radius: 100%;
    margin:5px;
    background-color:black;
    opacity:0.6;
}

.disp:hover{
    background-color:#31D868;
    border: 10px solid #31D868;
}

.iconrede{
    width:25px;
    height: 25px;
    border: 5px solid grey;
    background-color:grey;
    border-radius: 100%;
}

.iconrede:hover{
    background-color: #31D868;
    border: 5px solid #31D868;
}

.imgfuncionarios{
width:40px;
height:40px;
}

.imgfuncionarios:hover{
    background-color: #31D868;
    opacity: 0.8;
    }
    

header p{
width:250px;
color: white;
}

input[type=email] {
    width:250px;
    height:43px;
    border-radius: 15px 1px 1px 15px; 
    text-align: center;
  }


input[type=submit] {
    margin-left:-2px;
    width:150px;
    height:50px;
    background-color:#31D868;
    color:white;
    border-radius: 1px 15px 15px 1px; 
  }

/*---- TABLET ----- */
@media(max-width:768px){
    header {
    background-image: url(imagens/banner.png);
    background-size: cover;
    justify-content: space-around;
    }

    section{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .imgnotific {
        justify-content: center;
    }
    .notificacoes{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
    body {
        grid-template-rows: 350px 700px 550px 400px 80px;
    }
    .blocao{
        flex-direction: column;
    }
    .inputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .itens {
        width: 300px;
        padding: 20px;
    }
    
    h3 {
        text-align: center;
    }
    
    .notificacoes p {
        text-align: center;
    }
}

/*------ CELULAR ----- */
@media(max-width:432px){
    header {
    background-image: url(imagens/banner.png);
    justify-content: space-around;
    }
    section{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .blocao{
        flex-direction: column;
    }
    .inputs {
        display: flex;
        flex-direction: row;
    }
}

